@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.montserrat-alternates-black {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.montserrat-alternates-thin-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.montserrat-alternates-extralight-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.montserrat-alternates-light-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.montserrat-alternates-regular-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.montserrat-alternates-medium-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.montserrat-alternates-semibold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.montserrat-alternates-bold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.montserrat-alternates-extrabold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.montserrat-alternates-black-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

.asap-condensed-extralight {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: normal;
}

.asap-condensed-light {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.asap-condensed-medium {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.asap-condensed-semibold {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.asap-condensed-bold {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.asap-condensed-extrabold {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: normal;
}

.asap-condensed-black {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.asap-condensed-extralight-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: italic;
}

.asap-condensed-light-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.asap-condensed-regular-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.asap-condensed-medium-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.asap-condensed-semibold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.asap-condensed-bold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

.asap-condensed-extrabold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: italic;
}

.asap-condensed-black-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: italic;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

.asap-condensed-extralight {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: normal;
}

.asap-condensed-light {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.asap-condensed-medium {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.asap-condensed-semibold {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.asap-condensed-bold {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.asap-condensed-extrabold {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: normal;
}

.asap-condensed-black {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.asap-condensed-extralight-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: italic;
}

.asap-condensed-light-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.asap-condensed-regular-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.asap-condensed-medium-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.asap-condensed-semibold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.asap-condensed-bold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

.asap-condensed-extrabold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: italic;
}

.asap-condensed-black-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: italic;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

.asap-condensed-extralight {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: normal;
}

.asap-condensed-light {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.asap-condensed-medium {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.asap-condensed-semibold {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.asap-condensed-bold {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.asap-condensed-extrabold {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: normal;
}

.asap-condensed-black {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.asap-condensed-extralight-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: italic;
}

.asap-condensed-light-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.asap-condensed-regular-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.asap-condensed-medium-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.asap-condensed-semibold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.asap-condensed-bold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

.asap-condensed-extrabold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: italic;
}

.asap-condensed-black-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: italic;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

.asap-condensed-extralight {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: normal;
}

.asap-condensed-light {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.asap-condensed-medium {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.asap-condensed-semibold {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.asap-condensed-bold {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.asap-condensed-extrabold {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: normal;
}

.asap-condensed-black {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.asap-condensed-extralight-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: italic;
}

.asap-condensed-light-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.asap-condensed-regular-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.asap-condensed-medium-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.asap-condensed-semibold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.asap-condensed-bold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

.asap-condensed-extrabold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: italic;
}

.asap-condensed-black-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: SUSE;
    src: url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap') format("truetype");
}

@font-face {
    font-family: Asap;
    src: url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap') format("truetype");
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.asap-condensed-extralight {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: normal;
}

.asap-condensed-light {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.asap-condensed-medium {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.asap-condensed-semibold {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.asap-condensed-bold {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.asap-condensed-extrabold {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: normal;
}

.asap-condensed-black {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.asap-condensed-extralight-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: italic;
}

.asap-condensed-light-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.asap-condensed-regular-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.asap-condensed-medium-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.asap-condensed-semibold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.asap-condensed-bold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

.asap-condensed-extrabold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: italic;
}

.asap-condensed-black-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: italic;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.asap-condensed-extralight {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: normal;
}

.asap-condensed-light {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.asap-condensed-medium {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.asap-condensed-semibold {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.asap-condensed-bold {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.asap-condensed-extrabold {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: normal;
}

.asap-condensed-black {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.asap-condensed-extralight-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: italic;
}

.asap-condensed-light-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.asap-condensed-regular-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.asap-condensed-medium-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.asap-condensed-semibold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.asap-condensed-bold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

.asap-condensed-extrabold-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 800;
    font-style: italic;
}

.asap-condensed-black-italic {
    font-family: "Asap Condensed", serif;
    font-weight: 900;
    font-style: italic;
}
